<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1> for with trackby </h1>
  <table>
      <tr *ngFor="let employee of employees;trackBy:trackByEmpCode; let i=index; let odd=odd;let even=even; ">
          <td>{{i}}  </td>
          <td>{{employee.Divisions}}  </td>
                    <td>{{employee.DivisionId}}  </td>
                          <td>odd data: {{odd}}  </td>
                            <td>even data: {{even}}  </td>
      </tr>
  </table>
  <button (click)="getEmployees()">refreshdata</button>

  <hr/>
    <h1> ngif condition when button click show the data and again click dismiss the data </h1>
  <p *ngIf="display">
  display the data
  </p>
    <button (click)="showhide()">showhide</button>
    <hr/>
    <h1>ngswitch</h1>
    <div [ngSwitch]="name">
      <div *ngSwitchWhen="'ravi'">
        ravi
      </div>
      <div *ngSwitchWhen="'chandra'">
        chandra
      </div>
      <div *ngSwitchDefault>
      something went wrng
      </div>

    </div>
</ion-content>
